<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
          <div class="fb-like" data-href="http://jmli.xyz/bluehentreats/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
          <br>
          <div class="email">
            <a class="white-text" href="mailto:"><i class="material-icons">email</i></a>
            <a href="https://www.instagram.com/bluehentreats/?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="yellow-text" href="http://veggiedefender.github.io">Jesse Li</a> and <a class="yellow-text" href="http://h313.github.io">Haoda Wang</a>
    </div>
  </div>
</footer>
