<header class="site-header">
  <div class="navbar">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/bluehentreats" class="brand-logo green-text">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/bluehentreats/#about" class="green-text about">About</a></li>
          <li><a href="/bluehentreats/products.html" class="green-text about">Products</a></li>
          <li><a href="/bluehentreats/blog.html" class="green-text">Blog</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/bluehentreats/#about" class="green-text about">About</a></li>
          <li><a href="/bluehentreats/products.html" class="green-text">Products</a></li>
          <li><a href="/bluehentreats/blog.html" class="green-text">Blog</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons green-text">menu</i></a>
      </div>
    </nav>
  </div>
</header>
