<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="site-header">
  <div class="navbar">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo green-text">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/#about" class="green-text about">About</a></li>
          <li><a href="/products" class="green-text about">Products</a></li>
          <li><a href="/locations" class="green-text about">Locations</a></li>
          <li><a href="/blog" class="green-text">Blog</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/#about" class="green-text about">About</a></li>
          <li><a href="/products" class="green-text">Products</a></li>
          <li><a href="/locations" class="green-text">Locations</a></li>
          <li><a href="/blog" class="green-text">Blog</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons green-text">menu</i></a>
      </div>
    </nav>
  </div>
</header>
