<header class="site-header">
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container green-text">
        <a id="logo-container" href="http://veggiedefender.github.io/bluehentreats/index.html" class="brand-logo">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="http://veggiedefender.github.io/bluehentreats/index.html">About</a></li>
          <li><a href="http://veggiedefender.github.io/bluehentreats/news.html">Blog</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="http://veggiedefender.github.io/bluehentreats/index.html">About</a></li>
          <li><a href="http://veggiedefender.github.io/bluehentreats/news.html">Blog</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>
